<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MAXLEW</title>
    <link href="{{ url_for('static',filename='styles/nes.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <audio autoplay>
        <source src="{{ url_for('static',filename='sound/01_Press_Start.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static',filename='img/maxlew_logo.svg') }}" alt="logo">
            <div class="logotext">
                <span id="logo_title">MAXLEW</span><br>
                <span id="logo_text">Video System</span>
            </div>
        </div>
    </div>
    <script>
        let separation = window.setTimeout(function() {
            document.getElementsByClassName("logotext")[0].style.visibility = "visible";
            document.getElementsByClassName("logotext")[0].style.webkitAnimationName = "fadein";
            document.getElementsByClassName("logotext")[0].style.webkitAnimationDuration = "3s";

        }, 4000)
        let timer = window.setTimeout(function() {
            window.location.replace(`/`);
        }, 8000)
    </script>
</body>
<footer></footer>
</html>
