@font-face {
    font-family: 'Press Start 2P';
    src:
        local('PressStart2P-Regular'),
        url('PressStart2P-Regular.ttf');
}
* {
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.lists > h1 {
    text-align: center;
}

.dual {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.dual > img {
    margin-bottom: 1%;
    width: 49.9%;
}

.multiple {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.multiple > img {

    /* flex: 0 50%;
    box-sizing:border-box; */
    margin-bottom: 1%;
    width: 49.5%;
    height: 49.5%;

}
.fullscreen {
    /* width: 100%;
    height: 100%; */

    /* justify-content: space-between; */
}

.fourcams {

}

.selected {
    background-color: green;
}

.left:after {
    content: "(LEFT)";
}

.right:after {
    content: "(RIGHT)";
}

.flash {
    animation: glow 1s alternate;
}

@keyframes glow {
  from {
    background-color: white;
  }
  to {
    background-color: orange;
  }
}

.fullscreen > img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

.small_logo {
    margin: 2em;
    width: 300px;
    float: left;
}

.logo {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    width: 500px;
    -webkit-animation: fadein 3s;
}

.logotext {
    visibility: hidden;
    /*-webkit-animation: fadein 8s;*/
}

#logo_title {
    font-size: 50px;
}

#logo_text {
    font-size: 50px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
